In [25]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
# Store filepath in a variable
file_one = "Resources/PEP_2017_GCTPEPANNR.US23PR.csv"

In [27]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")

In [28]:
# Show just the header
file_one_df.head()

,GEO.id,GEO.id2,GEO.display-label,GC.target-geo-id,GC.target-geo-id2,GC.display-label,GC.display-label.1,rescen42010,resbase42010,respop72010,respop72011,respop72012,respop72013,respop72014,respop72015,respop72016,respop72017
0,Id,Id2,Geography,Target Geo Id,Target Geo Id2,Geography,Geography,"April 1, 2010 - Census","April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016,Population Estimate (as of July 1) - 2017
1,0100000US,NaN,United States,0100000US,NaN,United States,United States,308745538,308758105,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178
2,0100000US,NaN,United States,01000C0US,NaN,United States - In metropolitan statistical area,In metropolitan statistical area,262512712,262525657,263093682,265426994,267838295,270139257,272573557,275038310,277418733,279698020
3,0100000US,NaN,United States,310M300US10180,10180,"United States - Abilene, TX Metro Area","Abilene, TX Metro Area",165252,165248,165583,166633,167452,167426,168143,169478,169733,170219
4,0100000US,NaN,United States,310M300US10420,10420,"United States - Akron, OH Metro Area","Akron, OH Metro Area",703200,703203,703037,703152,702066,703085,704311,703530,702556,703505

In [29]:
#drop extraneous columns
file_one_df.drop(file_one_df.columns[0:4],axis=1,inplace=True)
file_one_df.head()

,GC.target-geo-id2,GC.display-label,GC.display-label.1,rescen42010,resbase42010,respop72010,respop72011,respop72012,respop72013,respop72014,respop72015,respop72016,respop72017
0,Target Geo Id2,Geography,Geography,"April 1, 2010 - Census","April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016,Population Estimate (as of July 1) - 2017
1,NaN,United States,United States,308745538,308758105,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178
2,NaN,United States - In metropolitan statistical area,In metropolitan statistical area,262512712,262525657,263093682,265426994,267838295,270139257,272573557,275038310,277418733,279698020
3,10180,"United States - Abilene, TX Metro Area","Abilene, TX Metro Area",165252,165248,165583,166633,167452,167426,168143,169478,169733,170219
4,10420,"United States - Akron, OH Metro Area","Akron, OH Metro Area",703200,703203,703037,703152,702066,703085,704311,703530,702556,703505

In [30]:
#drop extraneous columns
file_one_df.drop(file_one_df.columns[3:4],axis=1,inplace=True)
file_one_df.head()

,GC.target-geo-id2,GC.display-label,GC.display-label.1,resbase42010,respop72010,respop72011,respop72012,respop72013,respop72014,respop72015,respop72016,respop72017
0,Target Geo Id2,Geography,Geography,"April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016,Population Estimate (as of July 1) - 2017
1,NaN,United States,United States,308758105,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178
2,NaN,United States - In metropolitan statistical area,In metropolitan statistical area,262525657,263093682,265426994,267838295,270139257,272573557,275038310,277418733,279698020
3,10180,"United States - Abilene, TX Metro Area","Abilene, TX Metro Area",165248,165583,166633,167452,167426,168143,169478,169733,170219
4,10420,"United States - Akron, OH Metro Area","Akron, OH Metro Area",703203,703037,703152,702066,703085,704311,703530,702556,703505

In [31]:
#store US population for 2010 to 2017
us_pop_df=file_one_df.iloc[[0,2]]
us_pop_df

,GC.target-geo-id2,GC.display-label,GC.display-label.1,resbase42010,respop72010,respop72011,respop72012,respop72013,respop72014,respop72015,respop72016,respop72017
0,Target Geo Id2,Geography,Geography,"April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016,Population Estimate (as of July 1) - 2017
2,NaN,United States - In metropolitan statistical area,In metropolitan statistical area,262525657,263093682,265426994,267838295,270139257,272573557,275038310,277418733,279698020

In [32]:
#rename columns
file_one_df = file_one_df.rename(columns={'GC.target-geo-id2':'Zip Code'})
file_one_df = file_one_df.rename(columns={'GC.display-label.1':'Metro Area'})
file_one_df = file_one_df.rename(columns={'respop72010':'Population 2010'})
file_one_df = file_one_df.rename(columns={'respop72011':'Population 2011'})
file_one_df = file_one_df.rename(columns={'respop72012':'Population 2012'})
file_one_df = file_one_df.rename(columns={'respop72013':'Population 2013'})
file_one_df = file_one_df.rename(columns={'respop72014':'Population 2014'})
file_one_df = file_one_df.rename(columns={'respop72015':'Population 2015'})
file_one_df = file_one_df.rename(columns={'respop72016':'Population 2016'})
file_one_df = file_one_df.rename(columns={'respop72017':'Population 2017'})
file_one_df.reset_index()

len(file_one_df)
file_one_df.head()

,Zip Code,GC.display-label,Metro Area,resbase42010,Population 2010,Population 2011,Population 2012,Population 2013,Population 2014,Population 2015,Population 2016,Population 2017
0,Target Geo Id2,Geography,Geography,"April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016,Population Estimate (as of July 1) - 2017
1,NaN,United States,United States,308758105,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178
2,NaN,United States - In metropolitan statistical area,In metropolitan statistical area,262525657,263093682,265426994,267838295,270139257,272573557,275038310,277418733,279698020
3,10180,"United States - Abilene, TX Metro Area","Abilene, TX Metro Area",165248,165583,166633,167452,167426,168143,169478,169733,170219
4,10420,"United States - Akron, OH Metro Area","Akron, OH Metro Area",703203,703037,703152,702066,703085,704311,703530,702556,703505

In [33]:
file_one_df.drop([0,2], axis=0, inplace=True)
file_one_df.reset_index()
file_one_df.head()

,Zip Code,GC.display-label,Metro Area,resbase42010,Population 2010,Population 2011,Population 2012,Population 2013,Population 2014,Population 2015,Population 2016,Population 2017
1,NaN,United States,United States,308758105,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178
3,10180,"United States - Abilene, TX Metro Area","Abilene, TX Metro Area",165248,165583,166633,167452,167426,168143,169478,169733,170219
4,10420,"United States - Akron, OH Metro Area","Akron, OH Metro Area",703203,703037,703152,702066,703085,704311,703530,702556,703505
5,10500,"United States - Albany, GA Metro Area","Albany, GA Metro Area",157500,157596,157875,157369,156025,155293,153686,152440,151434
6,10540,"United States - Albany, OR Metro Area","Albany, OR Metro Area",116672,116878,118112,118242,118388,119025,120210,122700,125047

In [34]:
#for row 1 (US population), update zip to 00000
try:
    file_one_df['Zip Code'][1]  = '99999'
    #file_one_df.recet_index(inplace=True)
except:
    print('Cannot correct invalid zipcodes')
file_one_df.head()

,Zip Code,GC.display-label,Metro Area,resbase42010,Population 2010,Population 2011,Population 2012,Population 2013,Population 2014,Population 2015,Population 2016,Population 2017
1,99999,United States,United States,308758105,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178
3,10180,"United States - Abilene, TX Metro Area","Abilene, TX Metro Area",165248,165583,166633,167452,167426,168143,169478,169733,170219
4,10420,"United States - Akron, OH Metro Area","Akron, OH Metro Area",703203,703037,703152,702066,703085,704311,703530,702556,703505
5,10500,"United States - Albany, GA Metro Area","Albany, GA Metro Area",157500,157596,157875,157369,156025,155293,153686,152440,151434
6,10540,"United States - Albany, OR Metro Area","Albany, OR Metro Area",116672,116878,118112,118242,118388,119025,120210,122700,125047

In [35]:
#clean up data: normilize Zip Codes
#drop rows where zip is NAAN 
try:
    file_one_df.dropna(subset=['Zip Code'], inplace=True) 
except:
    print(len(file_one_df))
file_one_df.head()

,Zip Code,GC.display-label,Metro Area,resbase42010,Population 2010,Population 2011,Population 2012,Population 2013,Population 2014,Population 2015,Population 2016,Population 2017
1,99999,United States,United States,308758105,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178
3,10180,"United States - Abilene, TX Metro Area","Abilene, TX Metro Area",165248,165583,166633,167452,167426,168143,169478,169733,170219
4,10420,"United States - Akron, OH Metro Area","Akron, OH Metro Area",703203,703037,703152,702066,703085,704311,703530,702556,703505
5,10500,"United States - Albany, GA Metro Area","Albany, GA Metro Area",157500,157596,157875,157369,156025,155293,153686,152440,151434
6,10540,"United States - Albany, OR Metro Area","Albany, OR Metro Area",116672,116878,118112,118242,118388,119025,120210,122700,125047

In [36]:
#drop rows where zip is less then 5 digits
try:
    file_one_df.drop(file_one_df[file_one_df['Zip Code'].map(len) < 5].index, inplace=True)
except:
    print('Cannot remove invalid zipcodes')
print(len(file_one_df))
#file_one_df.head(50)

977

In [37]:
#if zip is longer then 5 digits, read only the last 5 digits
try:
    file_one_df['Short Zip']  = file_one_df['Zip Code'].str[-5:]
except:
    print('Cannot correct invalid zipcodes')
file_one_df.head()

,Zip Code,GC.display-label,Metro Area,resbase42010,Population 2010,Population 2011,Population 2012,Population 2013,Population 2014,Population 2015,Population 2016,Population 2017,Short Zip
1,99999,United States,United States,308758105,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178,99999
3,10180,"United States - Abilene, TX Metro Area","Abilene, TX Metro Area",165248,165583,166633,167452,167426,168143,169478,169733,170219,10180
4,10420,"United States - Akron, OH Metro Area","Akron, OH Metro Area",703203,703037,703152,702066,703085,704311,703530,702556,703505,10420
5,10500,"United States - Albany, GA Metro Area","Albany, GA Metro Area",157500,157596,157875,157369,156025,155293,153686,152440,151434,10500
6,10540,"United States - Albany, OR Metro Area","Albany, OR Metro Area",116672,116878,118112,118242,118388,119025,120210,122700,125047,10540

In [38]:
#select towns where population was more then 1 mil in 2010
#len(file_one_df)  append#980
file_one_df[['Population 2010']] = file_one_df[['Population 2010']].apply(pd.to_numeric)
file_one_df[['Population 2011']] = file_one_df[['Population 2011']].apply(pd.to_numeric)
file_one_df[['Population 2012']] = file_one_df[['Population 2012']].apply(pd.to_numeric)
file_one_df[['Population 2013']] = file_one_df[['Population 2013']].apply(pd.to_numeric)
file_one_df[['Population 2014']] = file_one_df[['Population 2014']].apply(pd.to_numeric)
file_one_df[['Population 2015']] = file_one_df[['Population 2015']].apply(pd.to_numeric)
file_one_df[['Population 2016']] = file_one_df[['Population 2016']].apply(pd.to_numeric)
file_one_df[['Population 2017']] = file_one_df[['Population 2017']].apply(pd.to_numeric)

one_mil_df= file_one_df.loc[file_one_df['Population 2010'] > 1000000]
one_mil_df.reset_index(inplace=True)
one_mil_df        #75 cities >1 mil in 2010

,index,Zip Code,GC.display-label,Metro Area,resbase42010,Population 2010,Population 2011,Population 2012,Population 2013,Population 2014,Population 2015,Population 2016,Population 2017,Short Zip
0,1,99999,United States,United States,308758105,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178,99999
1,20,12060,"United States - Atlanta-Sandy Springs-Roswell,...","Atlanta-Sandy Springs-Roswell, GA Metro Area",5286743,5303327,5373016,5451561,5517034,5605117,5702331,5795723,5884736,12060
2,24,12420,"United States - Austin-Round Rock, TX Metro Area","Austin-Round Rock, TX Metro Area",1716320,1727495,1780610,1834566,1883528,1942255,2000784,2060558,2115827,12420
3,26,12580,"United States - Baltimore-Columbia-Towson, MD ...","Baltimore-Columbia-Towson, MD Metro Area",2710603,2715503,2734969,2756285,2771586,2784424,2795036,2801028,2808175,12580
4,38,13820,"United States - Birmingham-Hoover, AL Metro Area","Birmingham-Hoover, AL Metro Area",1128056,1128791,1130457,1133409,1138173,1141099,1144518,1146888,1149807,13820
5,45,14460,"United States - Boston-Cambridge-Newton, MA-NH...","Boston-Cambridge-Newton, MA-NH Metro Area",4552596,4565220,4608303,4653023,4699912,4741544,4775755,4805942,4836531,14460
6,46,1446014454,"United States - Boston-Cambridge-Newton, MA-NH...","Boston, MA Metro Division",1888053,1894307,1912683,1932206,1952713,1970027,1984994,1999803,2013403,14454
7,47,1446015764,"United States - Boston-Cambridge-Newton, MA-NH...","Cambridge-Newton-Framingham, MA Metro Division",2246189,2252450,2275681,2298590,2323584,2344552,2362352,2374947,2388152,15764
8,55,15380,United States - Buffalo-Cheektowaga-Niagara Fa...,"Buffalo-Cheektowaga-Niagara Falls, NY Metro Area",1135617,1135710,1136059,1135717,1136993,1137924,1136662,1134914,1136856,15380
9,70,16740,"United States - Charlotte-Concord-Gastonia, NC...","Charlotte-Concord-Gastonia, NC-SC Metro Area",2216992,2223196,2256180,2293822,2334036,2376148,2424115,2475519,2525305,16740
10,74,16980,"United States - Chicago-Naperville-Elgin, IL-I...","Chicago-Naperville-Elgin, IL-IN-WI Metro Area",9461541,9471312,9497177,9525765,9548402,9560874,9557503,9546326,9533040,16980
11,75,1698016974,"United States - Chicago-Naperville-Elgin, IL-I...","Chicago-Naperville-Arlington Heights, IL Metro...",7263063,7270973,7297366,7324450,7343501,7351417,7347063,7335054,7319978,16974
12,80,17140,"United States - Cincinnati, OH-KY-IN Metro Area","Cincinnati, OH-KY-IN Metro Area",2114686,2117729,2122544,2128106,2136269,2146562,2155674,2166029,2179082,17140
13,83,17460,"United States - Cleveland-Elyria, OH Metro Area","Cleveland-Elyria, OH Metro Area",2077271,2075557,2068991,2064711,2065844,2066227,2062842,2060065,2058844,17460
14,91,18140,"United States - Columbus, OH Metro Area","Columbus, OH Metro Area",1902001,1906365,1926142,1946644,1971120,1998460,2023198,2046977,2078725,18140
15,96,19100,"United States - Dallas-Fort Worth-Arlington, T...","Dallas-Fort Worth-Arlington, TX Metro Area",6426231,6451833,6571537,6706020,6817243,6950715,7101031,7253424,7399662,19100
16,97,1910019124,"United States - Dallas-Fort Worth-Arlington, T...","Dallas-Plano-Irving, TX Metro Division",4228958,4246983,4333377,4429673,4507349,4602351,4705624,4809999,4911124,19124
17,98,1910023104,"United States - Dallas-Fort Worth-Arlington, T...","Fort Worth-Arlington, TX Metro Division",2197273,2204850,2238160,2276347,2309894,2348364,2395407,2443425,2488538,23104
18,107,19740,"United States - Denver-Aurora-Lakewood, CO Met...","Denver-Aurora-Lakewood, CO Metro Area",2543592,2554399,2599629,2646151,2696308,2749827,2807211,2851848,2888227,19740
19,109,19820,"United States - Detroit-Warren-Dearborn, MI Me...","Detroit-Warren-Dearborn, MI Metro Area",4296317,4291287,4288618,4295646,4298541,4303366,4302282,4305869,4313002,19820
20,110,1982019804,"United States - Detroit-Warren-Dearborn, MI Me...","Detroit-Dearborn-Livonia, MI Metro Division",1820573,1815069,1802164,1794073,1777790,1769007,1762098,1756598,1753616,19804
21,111,1982047664,"United States - Detroit-Warren-Dearborn, MI Me...","Warren-Troy-Farmington Hills, MI Metro Division",2475744,2476218,2486454,2501573,2520751,2534359,2540184,2549271,2559386,47664
22,165,25540,United States - Hartford-West Hartford-East Ha...,"Hartford-West Hartford-East Hartford, CT Metro...",1212398,1214343,1217106,1216064,1216966,1215275,1213041,1210075,1210259,25540
23,173,26420,United States - Houston-The Woodlands-Sugar La...,"Houston-The Woodlands-Sugar Land, TX Metro Area",5920486,5947419,6057947,6183726,6329553,6496862,6664187,6798010,6892427,26420
24,177,26900,"United States - Indianapolis-Carmel-Anderson, ...","Indianapolis-Carmel-Anderson, IN Metro Area",1888090,1892470,1910429,1928986,1953213,1970850,1986872,2005612,2028614,26900
25,183,27260,"United States - Jacksonville, FL Metro Area","Jacksonville, FL Metro Area",1345598,1348910,1361962,1378059,1394206,1417740,1445986,1476503,1504980,27260
26,194,28140,"United States - Kansas City, MO-KS Metro Area","Kansas City, MO-KS Metro Area",2009338,2013412,2024880,2038501,2054039,2069602,2085221,2106382,2128912,28140
27,211,29820,"United States - Las Vegas-Henderson-Paradise, ...","Las Vegas-Henderson-Paradise, NV Metro Area",1951269,1952906,1966521,1996290,2026056,2064991,2110330,2156724,2204079,29820
28,224,31080,United States - Los Angeles-Long Beach-Anaheim...,"Los Angeles-Long Beach-Anaheim, CA Metro Area",12828961,12841606,12939463,13041538,13132253,13209445,13283824,13328261,13353907,31080
29,225,3108011244,United States - Los Angeles-Long Beach-Anaheim...,"Anaheim-Santa Ana-Irvine, CA Metro Division",3010265,3017116,3053465,3085386,3113649,3136750,3160576,3177703,3190400,11244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,283,36740,"United States - Orlando-Kissimmee-Sanford, FL ...","Orlando-Kissimmee-Sanford, FL Metro Area",2134399,2139317,2176424,2227414,2272175,2327929,2391028,2453333,2509831,36740
47,292,37980,United States - Philadelphia-Camden-Wilmington...,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD Me...",5965693,5971189,5996406,6020821,6035329,6053028,6066589,6077152,6096120,37980
48,293,3798015804,United States - Philadelphia-Camden-Wilmington...,"Camden, NJ Metro Division",1250991,1251700,1253271,1253995,1251807,1252382,1251304,1250786,1251521,15804
49,294,3798033874,United States - Philadelphia-Camden-Wilmington...,"Montgomery County-Bucks County-Chester County,...",1924343,1926332,1934657,1940767,1947547,1954617,1959304,1963896,1973709,33874
50,295,3798037964,United States - Philadelphia-Camden-Wilmington...,"Philadelphia, PA Metro Division",2084705,2087172,2098728,2112726,2119718,2126955,2134212,2138760,2145559,37964
51,297,38060,"United States - Phoenix-Mesa-Scottsdale, AZ Me...","Phoenix-Mesa-Scottsdale, AZ Metro Area",4193129,4204148,4247852,4321686,4390565,4470712,4558145,4648498,4737270,38060
52,299,38300,"United States - Pittsburgh, PA Metro Area","Pittsburgh, PA Metro Area",2356291,2356983,2359626,2360263,2359977,2356699,2349139,2341536,2333367,38300
53,303,38900,"United States - Portland-Vancouver-Hillsboro, ...","Portland-Vancouver-Hillsboro, OR-WA Metro Area",2226001,2231876,2258821,2285177,2309289,2342444,2382181,2423102,2453168,38900
54,306,39300,"United States - Providence-Warwick, RI-MA Metr...","Providence-Warwick, RI-MA Metro Area",1601210,1602351,1601522,1604011,1605438,1610173,1613155,1615878,1621122,39300
55,311,39580,"United States - Raleigh, NC Metro Area","Raleigh, NC Metro Area",1130489,1137393,1163343,1188920,1214464,1242613,1272875,1304896,1335079,39580
56,316,40060,"United States - Richmond, VA Metro Area","Richmond, VA Metro Area",1208087,1210039,1219241,1233321,1245755,1258597,1270027,1282205,1294204,40060
57,317,40140,United States - Riverside-San Bernardino-Ontar...,"Riverside-San Bernardino-Ontario, CA Metro Area",4224965,4243235,4298271,4341405,4378138,4425776,4472874,4523653,4580670,40140
58,320,40380,"United States - Rochester, NY Metro Area","Rochester, NY Metro Area",1079691,1080280,1082275,1082782,1083791,1082785,1080385,1078352,1077948,40380
59,324,40900,United States - Sacramento--Roseville--Arden-A...,"Sacramento--Roseville--Arden-Arcade, CA Metro ...",2149144,2153935,2174008,2192724,2213564,2239455,2266892,2295233,2324884,40900
60,329,41180,"United States - St. Louis, MO-IL Metro Area","St. Louis, MO-IL Metro Area",2787763,2789860,2793774,2796137,2799644,2803901,2807321,2806782,2807338,41180
61,333,41620,"United States - Salt Lake City, UT Metro Area","Salt Lake City, UT Metro Area",1087808,1091460,1107497,1124277,1141470,1152719,1167013,1185978,1203105,41620
62,335,41700,"United States - San Antonio-New Braunfels, TX ...","San Antonio-New Braunfels, TX Metro Area",2142516,2152961,2193620,2236395,2279878,2328419,2379054,2426211,2473974,41700
63,336,41740,"United States - San Diego-Carlsbad, CA Metro Area","San Diego-Carlsbad, CA Metro Area",3095342,3103793,3139767,3179798,3216522,3256875,3290044,3317200,3337685,41740
64,337,41860,"United States - San Francisco-Oakland-Hayward,...","San Francisco-Oakland-Hayward, CA Metro Area",4335573,4344810,4399218,4463172,4528717,4595964,4657985,4699077,4727357,41860
65,338,4186036084,"United States - San Francisco-Oakland-Hayward,...","Oakland-Hayward-Berkeley, CA Metro Division",2559461,2566201,2598397,2635741,2678246,2722543,2763168,2791881,2810629,36084
66,339,4186041884,"United States - San Francisco-Oakland-Hayward,...",San Francisco-Redwood City-South San Francisco...,1523693,1525669,1545316,1571050,1591615,1612414,1633099,1645664,1655773,41884
67,341,41940,United States - San Jose-Sunnyvale-Santa Clara...,"San Jose-Sunnyvale-Santa Clara, CA Metro Area",1836940,1842074,1869846,1898569,1928305,1954220,1977584,1990910,1998463,41940
68,349,42660,"United States - Seattle-Tacoma-Bellevue, WA Me...","Seattle-Tacoma-Bellevue, WA Metro Area",3439806,3448049,3496870,3552220,3610580,3667189,3728606,3802660,3867046,42660
69,350,4266042644,"United States - Seattle-Tacoma-Bellevue, WA Me...","Seattle-Bellevue-Everett, WA Metro Division",2644589,2652771,2694042,2741292,2791416,2838370,2887140,2942908,2990282,42644
70,373,45300,United States - Tampa-St. Petersburg-Clearwate...,"Tampa-St. Petersburg-Clearwater, FL Metro Area",2783469,2788500,2829142,2847187,2872530,2916839,2973756,3036525,3091399,45300
71,390,47260,United States - Virginia Beach-Norfolk-Newport...,"Virginia Beach-Norfolk-Newport News, VA-NC Met...",1676817,1679945,1686564,1697398,1705320,1714857,1720356,1722766,1725246,47260
72,395,47900,United States - Washington-Arlington-Alexandri...,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",5636361,5665818,5776337,5872227,5962606,6029537,6091560,6150681,6216589,47900
73,396,4790043524,United States - Washington-Arlington-Alexandri...,"Silver Spring-Frederick-Rockville, MD Metro Di...",1205331,1210310,1230696,1247258,1260654,1273964,1284852,1296213,1310832,43524
74,397,4790047894,United States - Washington-Arlington-Alexandri...,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",4431030,4455508,4545641,4624969,4701952,4755573,4806708,4854468,4905757,47894
75,976,41980,"Puerto Rico - San Juan-Carolina-Caguas, PR Met...","San Juan-Carolina-Caguas, PR Metro Area",2350324,2347897,2322162,2295560,2269880,2233742,2195885,2154815,2112005,41980

In [39]:
%store one_mil_df

Stored 'one_mil_df' (DataFrame)